@import './ColorStyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
:root {

}
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6rem;
    overflow-y: scroll;
}
@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}
.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #0d0f35;
}
.textTitle18700 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.textTitle18400 {
    @extend .textTitle18700;
    font-weight: 400 !important;
    color: $color-gray;
}
.textTitle24700 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.textTitle32500 {
    font-size: 32px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.textTitle16400 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-gray;
}
// media queries
.product-card {
    background-color: #fafafa;
    width: '100%';
    max-width: '270px';
    height: 100%;
    &__model{
        width: 10px;
    }
    &__title {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        color: $color-gray;
        text-align: 'center';
        @include Responsive(SM) {
            font-size: 14px;
        }
    }
    &__price {
        color: #f5222d;
        font-weight: 500;
        text-align: center;
        font-size: 12px;
        @include Responsive(SM) {
            font-size: 16px;
        }
    }
    &__price-search{
        color: #f5222d;
        font-weight: 500;
        font-size: 10px;
        @include Responsive(SM) {
            font-size: 12px;
        }
    }
}
.header-container {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    @include Responsive(SM) {
        padding: 0 24px;
    }
    &__logo {
        height: 64px;
        & div.menu-right {
            display: flex;
            justify-content: start;
            align-items: center;
            &__bars {
                display: flex;
                align-items: center;
                text-align: center;
                @include Responsive(MD) {
                    display: none;
                }
                & span{
                    font-size: 24px;
                }
            }
            &__logo {
                height: 64px;
                width: 64px;
            }
        }
    }
    &__nav {
        height: 64px;
        display: none;
        @include Responsive(MD) {
            display: flex;
            flex-wrap: wrap;
            width: 400px;
        }
    }
    &__user {
        width: auto;
        display: none;
        @include Responsive(SM) {
            display: flex;
        }
    }
    &__usercart {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 64px;
        gap: 10px;
        @include Responsive(SM) {
            width: 400px;
        }
    }
    &__search {
        display: flex;
        align-items: center;
    }
}
.list-card {
    padding: 5px;
}
.popover-search {
    height: 350px;
    width:calc( 100vw - 30px);
    overflow-x: hidden;
    @include Responsive(SM) {
        width: 375px;
    }
}
.skeleton {
    background-color: #eee;
    background-image: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}
.carouselHome{
    height: auto;
}

.pro-percent{
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
    margin-left: 5px;
    color: #E30019;
    border: 1px solid #E30019;
    border-radius: 4px;
    white-space: nowrap;
}

